# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Entornos virtuales
.venv/
env/
venv/
ENV/

# Archivos de configuración locales
*.env
*.ini
*.cfg
*.toml

# Archivos temporales de Jupyter/VSCode
.ipynb_checkpoints/
.vscode/
*.code-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Datos y salidas
*.csv
*.tsv
*.json
*.log
*.sqlite
*.db
/output/
